alembic==1.5.5
appdirs==1.4.4
argcomplete==1.12.3
behave==1.2.6
bleach==3.3.0
boto3==1.17.88
botocore==1.20.88
build==0.4.0
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
click==8.0.1
colorama==0.4.4
cryptography==3.4.7
distlib==0.3.2
docutils==0.17.1
filelock==3.0.12
Flask==2.0.1
Flask-Admin==1.5.7
Flask-Cors==3.0.10
Flask-Migrate==2.7.0
Flask-Restless==0.17.0
Flask-SQLAlchemy==2.4.4
gevent==21.1.2
greenlet==1.1.0
gunicorn==20.0.4
idna==2.10
importlib-metadata==4.5.0
itsdangerous==2.0.1
jeepney==0.7.0
Jinja2==3.0.1
jmespath==0.10.0
keyring==23.0.1
Mako==1.1.4
MarkupSafe==2.0.1
mimerender==0.6.0
packaging==20.9
parse==1.19.0
parse-type==0.5.2
pep517==0.10.0
pipenv==2021.5.29
pkginfo==1.7.1
psycopg2==2.8.6
pycparser==2.20
pydevd-pycharm==203.7148.72
pyflakes==2.3.1
Pygments==2.9.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-editor==1.0.4
python-mimeparse==1.6.0
readme-renderer==29.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.5.0
s3transfer==0.4.2
SecretStorage==3.3.1
six==1.16.0
SQLAlchemy==1.3.23
toml==0.10.2
tqdm==4.61.2
twine==3.4.1
urllib3==1.26.5
virtualenv==20.4.7
virtualenv-clone==0.5.4
webencodings==0.5.1
Werkzeug==2.0.1
WTForms==2.3.3
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.4.0
