Flask-Admin==1.6.1
Flask-Cors==3.0.10
Flask-Migrate==4.1.0
Flask-Restless-NG==3.3.0
Flask-SQLAlchemy==3.1.1
Flask==3.0.3
Jinja2==3.1.6
Mako==1.3.10
MarkupSafe==3.0.3
Pygments==2.19.2
SQLAlchemy==2.0.45
SecretStorage==3.3.1
WTForms==3.2.1
Werkzeug==3.1.5
alembic==1.16.5
aniso8601==10.0.1
appdirs==1.4.4
argcomplete==3.6.3
asttokens==2.1.0
attrs==25.4.0
backcall==0.2.0
backports-datetime-fromisoformat==2.0.3
behave==1.3.3
bleach==3.3.0
blinker==1.9.0
boto3==1.42.30
botocore==1.42.30
build==0.4.0
certifi==2026.1.4
cffi==1.14.6
chardet==5.0.0
chardet==5.2.0
charset-normalizer==3.4.4
click==8.1.8
colorama==0.4.6
contextlib2==21.6.0
coverage==7.10.7
cryptography==3.4.7
cucumber-expressions==18.0.1
cucumber-tag-expressions==7.0.0
decorator==5.1.1
distlib==0.3.2
docutils==0.17.1
dominate==2.9.1
exceptiongroup==1.3.1
executing==1.2.0
filelock==3.0.12
flask-cors==6.0.2
flask-marshmallow==1.3.0
flask-talisman==1.1.0
gevent==25.9.1
greenlet==3.2.4
gunicorn==23.0.0
idna==3.11
importlib_metadata==8.7.1
iniconfig==2.1.0
ipython==8.6.0
itsdangerous==2.2.0
jedi==0.18.1
jeepney==0.7.0
jmespath==1.0.1
json-api-doc==0.15.0
json-stream-rs-tokenizer==0.5.0
json-stream==2.4.1
keyring==23.0.1
marshmallow-sqlalchemy==1.4.2
marshmallow==4.0.1
matplotlib-inline==0.1.6
mimerender==0.6.0
monk==0.13.2
packaging==25.0
parse-type==0.6.0
parse==1.20.2
parse_type==0.6.6
parso==0.8.3
pep517==0.10.0
pexpect==4.8.0
pickleshare==0.7.5
pipenv==2021.5.29
pkginfo==1.7.1
pluggy==1.6.0
prompt-toolkit==3.0.32
psycopg2==2.9.11
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.20
pyflakes==2.3.1
pyparsing==3.0.9
pyparsing==3.3.1
pytest-cov==7.0.0
pytest==8.4.2
python-dateutil==2.9.0.post0
python-editor==1.0.4
python-mimeparse==2.0.0
pytz==2025.2
readme-renderer==29.0
requests-toolbelt==0.9.1
requests==2.32.5
rfc3986==1.5.0
s3transfer==0.16.0
simplejson==3.20.2
six==1.17.0
stack-data==0.6.1
toml==0.10.2
tomli==2.4.0
tqdm==4.61.2
traitlets==5.5.0
twine==3.4.1
typing_extensions==4.15.0
urllib3==1.26.20
virtualenv-clone==0.5.7
virtualenv==20.4.7
visitor==0.1.3
wcwidth==0.2.5
webencodings==0.5.1
win-unicode-console==0.5
zipp==3.23.0
zope.event==6.0
zope.interface==8.0.1
