source_env ..
export KUBECONFIG=$HOME/.kube/$(basename `/bin/pwd`)/config
export KUBE_CLIENT_VERSION=1.16.15
export KUBE_SERVER_VERSION=1.16
PATH_add $HOME/tools/kubectl/$KUBE_CLIENT_VERSION
export VAULT_ADDR=https://vault.withme.com
kubectl completion bash > .tmp
source .tmp
