source_env ..
export _target=$(basename $(/bin/pwd))
export KUBECONFIG=$HOME/.kube/$_prov_type/$_account/$_profile/$_region/$_target/config
export KUBE_CLIENT_VERSION=1.16.15
export KUBE_SERVER_VERSION=1.16
PATH_add $HOME/tools/kubectl/$KUBE_CLIENT_VERSION
export VAULT_ADDR=https://vault.withme.com

