source_env ..
export KUBECONFIG=$HOME/.kube/$_prov_type/$_account/$_profile/$_region/$(basename $(/bin/pwd))/config
export KUBE_CLIENT_VERSION=<CONFIGURE>
export KUBE_SERVER_VERSION=<CONFIGURE>
export HELM_CLIENT_VERSION=<CONFIGURE>
export HELM_SERVER_VERSION=<CONFIGURE>

PATH_add $HOME/tools/kubectl/$KUBE_CLIENT_VERSION
PATH_add $HOME/tools/helm/$HELM_CLIENT_VERSION
