export KUBECONFIG=$HOME/.kube/$_prov_type/$_account/$_profile/$_region/$(basename $(/bin/pwd))/config
export KUBE_CLIENT_VERSION=<CONFIGURE>
export KUBE_SERVER_VERSION=<CONFIGURE>
export HELM_CLIENT_VERSION=<CONFIGURE>
export HELM_SERVER_VERSION=<CONFIGURE>

export PATH=$PATH:$HOME/tools/kubectl/$KUBE_CLIENT_VERSION
export PATH=$PATH:$HOME/tools/helm/$HELM_CLIENT_VERSION