source_env ..

export KUBECONFIG=$HOME/.kube/$_prov_type/$_account/$_profile/$_region/$(basename $(/bin/pwd))/config
export KUBE_CLIENT_VERSION=$_profile
export KUBE_SERVER_VERSION=$_profile

PATH_add $HOME/tools/kubectl/$KUBE_CLIENT_VERSION

minikube profile $_profile

